@page  "/addCard"
@rendermode InteractiveServer

<h3>AddCard</h3>
<div class="addCard-container">
    <div class="addCard-card">
        <h1 class="addCard-image">
            <img alt="quoq" src="LocalImage/AddBlock_Quoq.png"/>
        </h1>
        <h1 class="addCard-upper">17/25 ADHD</h1>
        <h1 class="addCard-lower">Принципиально новое представление его старых работ. Есть такие ремейки как Stoneisland изначально бывший треком в стиле EDM перекачевавший в D&B с элементами брейкора.</h1>
        <a href="https://localhost:8080/Error" class="addCard-learn-more">Узнать больше...</a>
        </div>
    <div class="addCard-card">
        <h1 class="addCard-image">
            <img alt="quoq" src="LocalImage/xxxmanera.png"/>
        </h1>
        <h1 class="addCard-upper">HUNNID: GATEKEEPING</h1>
        <h1 class="addCard-lower">Долгожданный пятый альбом, по совместительству столь сильно ожидаемый лонгплей xxxmaner'ы с новым звучанием. Это первый альбом за почти 2 года, идущий после Man of Era 2.</h1>
        <a class="addCard-learn-more">Узнать больше...</a>
        </div>
    <div class="addCard-card">
        <h1 class="addCard-image">
            <img alt="quoq" src="LocalImage/polmateri.png"/>
        </h1>
        <h1 class="addCard-upper">Позорники в прямом эфире</h1>
        <h1 class="addCard-lower">Тексты альбома наполнены иронией, абсурдом, глупыми и забавными панчами. Однако Иван Марголдин умудряется освещать и серьезные проблемы</h1>
        <a class="addCard-learn-more">Узнать больше...</a>
    </div>
    <div class="addCard-card">
        <h1 class="addCard-image">
            <img alt="quoq" src="LocalImage/i61.png"/>
        </h1>
        <h1 class="addCard-upper">Легендарный STORYTELL от I61</h1>
        <h1 class="addCard-lower">Это будет история про Федяя, без eternal , больше момента жизни и быта. Больше личного, меньше метафоричного и выдуманного.</h1>
        <a class="addCard-learn-more">Узнать больше...</a>
    </div>
</div>



@code {
    
}