@page  "/addCard"
@rendermode InteractiveServer

<h3>AddCard</h3>
<div class="addCard-container">
    <div class="addCard-card">
        <h1 class="addCard-image">
            <img alt="quoq" src="LocalImage/AddBlock_Quoq.png"/>
        </h1>
        <h1 class="addCard-upper">17/25 ADHD</h1>
        <h1 class="addCard-lower">Принципиально новое представление его старых работ. Есть такие ремейки как Stoneisland изначально бывший треком в стиле EDM перекачевавший в D&B с элементами брейкора.</h1>
        <a href="https://yandex.ru/images/search?text=%D0%B1%D0%BE%D0%BC%D0%B6%D0%B8+%D1%84%D0%BE%D1%82%D0%BE&img_url=https%3A%2F%2Fsun9-50.userapi.com%2Fimpf%2FIoL1sths58pJE5ysrs4Y_QbX6poAMwR4O8z6Iw%2FKWXgP8i8Ds4.jpg%3Fsize%3D400x400%26quality%3D96%26proxy%3D1%26sign%3D8ef803830bb62dd05ce749781ac77397%26type%3Dalbum&pos=0&rpt=simage&serp_list_type=all&stype=image&lr=51&parent-reqid=1739249101361376-4063110092861711328-balancer-l7leveler-kubr-yp-sas-62-BAL&source=serp" class="addCard-learn-more">Узнать больше...</a>
        </div>
    <div class="addCard-card">
        <h1 class="addCard-image">
            <img alt="quoq" src="LocalImage/xxxmanera.png"/>
        </h1>
        <h1 class="addCard-upper">HUNNID: GATEKEEPING</h1>
        <h1 class="addCard-lower">Долгожданный пятый альбом, по совместительству столь сильно ожидаемый лонгплей xxxmaner'ы с новым звучанием. Это первый альбом за почти 2 года, идущий после Man of Era 2.</h1>
        <a class="addCard-learn-more">Узнать больше...</a>
        </div>
    <div class="addCard-card">
        <h1 class="addCard-image">
            <img alt="quoq" src="LocalImage/polmateri.png"/>
        </h1>
        <h1 class="addCard-upper">Позорники в прямом эфире</h1>
        <h1 class="addCard-lower">Тексты альбома наполнены иронией, абсурдом, глупыми и забавными панчами. Однако Иван Марголдин умудряется освещать и серьезные проблемы</h1>
        <a class="addCard-learn-more">Узнать больше...</a>
    </div>
    <div class="addCard-card">
        <h1 class="addCard-image">
            <img alt="quoq" src="LocalImage/i61.png"/>
        </h1>
        <h1 class="addCard-upper">Легендарный STORYTELL от I61</h1>
        <h1 class="addCard-lower">Это будет история про Федяя, без eternal , больше момента жизни и быта. Больше личного, меньше метафоричного и выдуманного.</h1>
        <a class="addCard-learn-more">Узнать больше...</a>
    </div>
</div>



@code {
    
}